@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

*,/*todos los elementos*/
*::before, /*para asegurar que los elementos generados por CSS de forma dinámica también sigan estas reglas*/
*::after {
  box-sizing: border-box; /* sin esta regla, el ancho y alto de un elemento se calcula sin tener en cuenta el relleno y el borde*/
  margin: 0;  /* para garantizar que no haya márgenes o rellenos no deseados aplicados de forma predeterminada por el navegador*/
  padding: 0;
}

body, input, textarea {
    font-family: "Lato", sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

/*HEADER*/
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 2em;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-left: 5em;
}

header p{
    font-family: 'Pacifico', cursive;
    color: red;
    font-size: 2em;
}

header p:hover{
    color: rgba(229, 71, 75, 0.75);
}

header, .main-title{
    background-color: black;
}

header p{
    cursor: pointer;
}

header a{
    margin-right: 2em;
    font-weight: bold;
    color: white;
}

header a:hover{
    color: lightgray;
}

/*MAIN*/
main {
    padding-top: 7em; /* Ajustar según la altura del encabezado */
    display: block;
}

.first-post h2, .galeria h2, .posts h2{
    color: rgba(229, 71, 75);
}

.first-post p, .galeria p, .posts p{
    color: black;
}

/*MAIN-TITLE*/
.main-title{
    height: 25em;
    padding: 5em;
}

.main-title h2{
    width: 30em;
    letter-spacing: 5px;
    margin-bottom: 2em;
}

.button-white{
    border: 3px solid white;
    background-color: transparent;
    color: white;
    padding: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.button-white a{
    color: white;
}

.button-white:hover{
    background-color: rgba(211, 211, 211, 0.3);
}

/*FIRST-POST*/
.first-post{
    display: flex;
    flex-direction: column;
    padding: 5em;
    line-height: 2em;
}

.first-post h2, .first-post p, .galeria article h2, .galeria article img, .formulario h2{
    margin-bottom: 2em;
}

.button-learn{
    border: 3px solid rgba(229, 71, 75);
    background-color: transparent;
    color: rgba(229, 71, 75);
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 15em;
    font-weight: bolder;
}

.button-learn a{
    color: rgba(229, 71, 75);
}

.button-learn:hover {
    background-color: rgba(229, 71, 75, 0.1);
}

/*GALERIA*/
.galeria{
    display: flex;
    flex-direction: row;
}

.galeria article{
    display: flex;
    flex-direction: column;
    padding: 4em;
    padding-top: 10em;
    padding-bottom: 10em;
}

.galeria article p, .posts article p{
    line-height: 2em;
}

.galeria article:first-child{
    background-color: rgb(243,243,243);
}

.galeria article:last-child{
    background-color: rgb(247,247,247);
}

/*POSTS*/
.posts{
    display: grid;
    grid-template-areas: "post"
                        "button";
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    margin-bottom: 5em;
    width:100%;
}

.post{
    grid-area: post;
}

.posts button{
    grid-area: button;
    margin-top: 10vh;
}

.posts article{
    padding: 5em;
    width: 30em;
}

.posts i, .posts h2, .posts p{
    margin-bottom: 1.5em;
}

.posts i{
    color: lightgray;
}

/*FORMULARIO*/
.formulario{
    width: 100%;
    background-color: rgba(229, 71, 75);
    display:flex;
    flex-direction: column;
    padding: 3em;
}

input, textarea{
    border: 3px solid rgb(236, 117, 120);
    background-color: transparent;
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
}

.data{
    display: flex;
    flex-direction: row;
}

.data input{
    width: 49em;
    margin-right: 1em;
}

.formulario li{
    list-style: none;
}

/*FOOTER*/
footer{
    background-color: rgba(229, 71, 75);
    height: 3em;
    text-align: center;
}

footer a{
    font-weight: bolder;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}
