@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");
*,
*::before,
*::after {
  box-sizing: border-box; /* sin esta regla, el ancho y alto de un elemento se calcula sin tener en cuenta el relleno y el borde*/
  margin: 0; /* para garantizar que no haya márgenes o rellenos no deseados aplicados de forma predeterminada por el navegador*/
  padding: 0;
}

body,
input,
textarea {
  font-family: "Lato", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

/*HEADER*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  width: 100%;
  position: fixed;
  z-index: 1;
  padding-left: 5em;
}
header p {
  font-family: "Pacifico", cursive;
  color: red;
  font-size: 2em;
  cursor: pointer;
}
header p:hover {
  color: rgba(229, 71, 75, 0.75);
}
header a {
  margin-right: 2em;
  font-weight: bold;
  color: white;
}
header a:hover {
  color: lightgray;
}

header,
.main__title {
  background-color: black;
}

/*MAIN*/
main {
  padding-top: 7em;
  display: block;
}

.main__first__post h2,
.main__galeria h2,
.main__posts h2 {
  color: rgb(229, 71, 75);
}

.main__first__post p,
.main__galeria p,
.main__posts p {
  color: black;
}

/*MAIN__TITLE*/
.main__title {
  min-height: 25em;
  padding: 5em;
}
.main__title h2 {
  min-width: 30em;
  letter-spacing: 5px;
  margin-bottom: 2em;
}

.button__white {
  border: 3px solid white;
  background-color: transparent;
  color: white;
  padding: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}
.button__white:hover {
  background-color: rgba(211, 211, 211, 0.3);
}
.button__white a {
  color: white;
}

/*MAIN__FIRST__POST*/
.main__first__post {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding: 5em;
  line-height: 2em;
}

.main__first__post h2,
.main__first__post p,
.main__galeria article h2,
.main__galeria article img,
.main__formulario h2 {
  margin-bottom: 2em;
}

.button__learn {
  border: 3px solid rgb(229, 71, 75);
  background-color: transparent;
  color: rgb(229, 71, 75);
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  min-width: 15em;
  font-weight: bolder;
}
.button__learn a {
  color: rgb(229, 71, 75);
}
.button__learn:hover {
  background-color: rgba(229, 71, 75, 0.1);
}

/*MAIN__GALERIA*/
.main__galeria {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
}
.main__galeria article {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding: 4em;
  padding-top: 10em;
  padding-bottom: 10em;
}

.main__galeria article p,
.main__posts article p {
  line-height: 2em;
}

.main__galeria article:first-child {
  background-color: rgb(243, 243, 243);
}

.main__galeria article:last-child {
  background-color: rgb(247, 247, 247);
}

/*MAIN_POSTS*/
.main__posts {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  padding: 3em;
  max-width: 100%;
}
.main__posts article {
  padding: 5em;
  max-width: 30em;
}
.main__posts i {
  color: lightgray;
}

.main__posts i,
.main__posts h2,
.main__posts p {
  margin-bottom: 1.5em;
}

/*MAIN__FORMULARIO*/
.main__formulario {
  width: 100%;
  background-color: rgb(229, 71, 75);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding: 3em;
}
.main__formulario li {
  list-style: none;
}

input,
textarea {
  border: 3px solid rgb(236, 117, 120);
  background-color: transparent;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
}

.main__formulario__data {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
}
.main__formulario__data input {
  min-width: 45em;
  width: 100vh;
}
.main__formulario__data li:last-child {
  margin-right: 1em;
}

/*FOOTER*/
footer {
  background-color: rgb(229, 71, 75);
  min-height: 3em;
  text-align: center;
}
footer a {
  font-weight: bolder;
  color: white;
}
footer a:hover {
  text-decoration: underline;
}

/* Media query para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
  }
  .menu {
    margin-top: 1em;
  }
  .menu a {
    display: block;
    margin-bottom: 1em;
  }
  .main__title h2 {
    font-size: 1em;
    white-space: normal;
  }
  .main__galeria,
  .main__posts,
  .main__formulario__data {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
  }
  .main__galeria article,
  .main__posts article {
    width: 100%;
  }
  .main__formulario__data input {
    width: 98.7vh;
  }
}/*# sourceMappingURL=style.css.map */